{% extends 'BigfootAceThemeBundle::base.html.twig' %}

{% block body %}
    {% include 'BigfootAceThemeBundle:layout:navbar.html.twig' %}

    <div class="main-container" id="main-container">
        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>

            <div class="sidebar" id="sidebar">
                {% block sidebar %}
                    {{ knp_menu_render('main', { 'currentClass': 'active', 'ancestorClass': 'active open' }) }}
                {% endblock %}
            </div>

            <div class="main-content">
                {% block breadcrumb %}
                    {% include 'BigfootAceThemeBundle:layout:breadcrumb.html.twig' with { 'name': 'main' } %}
                {% endblock %}

                <div class="page-content">
                    {% block page_header %}
                        {% include 'BigfootAceThemeBundle:layout:page_header.html.twig' %}
                    {% endblock %}

                    {% include 'BigfootAceThemeBundle:admin:flash.html.twig' %}

                    <div class="row">
                        <div class="col-xs-12">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="icon-double-angle-up icon-only bigger-110"></i>
        </a>
    </div>
{% endblock %}
