<table id="list" class="table table-striped portfolio-list" data-container="list">
    <tbody>
    {% for line in allMedias %}
    {% set used = false %}
    {% if line.id in mediaIds %}
    {% set used = true %}
    {% endif %}
    {% include template_line with {'line': line, 'used': used} %}
    {% else  %}
        <tr>
            <td>{{ "No media found" | trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if pagination|default(false) %}
    {% include 'BigfootAceThemeBundle:snippets:popin_pagination.html.twig' %}
{% endif %}
