 /* Allows large popins */
.large { width: 1000px }

/* Fixes help buttons question mark displaying too low */
.help-button {
    line-height: 19px;
}

.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 28px !important; width: 481px; display:block;margin:10px auto;}
.ui-sortable-placeholder * { visibility: hidden; }

.portfolio-popin td.portfolio-action {
    width: 45px;
}

.portfolio-media-edit > div {
    max-height: 25px;
}

.nestable-list {
    padding-top: 8px;
}

img.crud-column-media {
    max-width: 300px;
}

.template-row input[type="radio"] {
    display: none;
}

.block-row a {
    text-decoration: none;
}

.block-row input[type="radio"] {
    display: none;
}

.block-row input[type="radio"]:checked + img {
    border: 1px solid #438EB9;
}

.block-row input[type="radio"]+ img {
    margin-right: 10px;
}

.sidebar-row input[type="radio"] {
    display: none;
}

.sidebar-row input[type="radio"]:checked + img {
    border: 1px solid #438EB9;
}

.sidebar-row input[type="radio"]+ img {
    margin-right: 10px;
}

.widget-blocks {
    list-style: none;
}

.widget-sidebars {
    list-style: none;
}

.admin-create-block {
    font-size: 12px;
    margin-left: -10px;
}

.admin-edit-block {
    font-size: 15px;
    margin-right: 5px;
}

.admin-delete-block {
    font-size: 17px;
}

.panel-heading a {
    text-decoration: none;
}

.create-block {
    margin-left: 20px;
}

.clear {
    clear: both;
}

.form-errors {
    color: #FF0000;
}

.wrapper {
    height: 250px;
    overflow: hidden;
}
.carousel div {
    cursor: pointer;
    margin-right: -450px;
    float: left;
    position: relative;
    box-shadow: 0 0 10px #000;
}
.carousel div:last-child {
    cursor: default;
}
.carousel div span {
    background-color: #222;
    background-color: rgba(0,0,0, 0.8);
    color: #fff;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    width: 700px;
    height: 25px;
    padding: 20px 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
}

div.table-header div.action-buttons {
    margin-right: 10px;
}
.dd-handle .action-buttons,
.dd2-content .action-buttons {
    margin-top: -7px;
    margin-right: 10px;
}
.dd-handle,
.dd2-content {
    display: block;
    min-height: 38px;
    margin: 3px 0 0;
    padding: 16px 0 0 12px;
    background: #F8FAFF;
    border: 1px solid #DAE2EA;
    color: #7C9EB2;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dd-item,
.dd-empty,
.dd-placeholder {
    line-height: 5px;
}

/**
 * Form render
 */
.form-tabbed input[type="text"], .form-tabbed input[type="date"], .form-tabbed input[type="password"], .form-tabbed input[type="number"], .form-tabbed select, .form-tabbed .input-group, .form-tabbed .chosen-container, .form-tabbed .item-template, .form-tabbed .width-100 { width: 99% !important; }
.form-block input[type="text"], .form-block input[type="date"], .form-block input[type="password"], .form-block input[type="number"], .form-block select, .form-block .input-group, .form-block .chosen-container, .form-block .width-100 { width: 100% !important; }
.input-group-addon.no-style { border: none; padding: 0 10px; background: none; }
.select-popover .chosen-container { width: calc(100% - 50px) !important; }
.form-horizontal .width-100 { width: calc(100% - 50px) !important; }
.popover-addon { padding: 0 10px; }

.bigfoot-checkbox {
    margin-bottom: -15px;
    margin-right: 15px;
    display: inline-block;
}

.bigfoot-checkbox input[type="checkbox"] {
    margin-right: 5px;
}

input[type="checkbox"].ace + .lbl {
    z-index: 9;
}

.bigfoot-content-blocks {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bigfoot-link {
    margin-bottom: -15px;
}

.pull-center {
    margin: auto !important;
}

.form-horizontal input[type="text"] {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.form-horizontal .input-padding {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.form-horizontal .panel-nestable {
    height: 1px;
    width: 17%;
    float: left;
}

.form-horizontal .panel-default {
    width: 83%;
    float: right;
}

.modal-body .form-horizontal .form-group { margin-left: 0;margin-right: 0; }

.widget-main .tab-content {
    border: 1px solid #c5d0dc;
    padding: 26px 12px;
    position: relative;
    z-index: 11;
}

 .panel-group .panel {
     overflow:visible;
 }

.widget-main.stats {
    padding: 25px 75px;
}

.stats .stats-highlights {
    float: left;
    width: 22%;
    vertical-align: top;
    height: 250px;
    padding-top: 20px;
    margin: 0 0 20px 0;
}

.stats .stats-highlights .stats-highlighted {
    display: table;
    padding: 5px;
    height: 50%;
}

.stats .stats-highlights .stats-highlighted .stats-data {
    display: table-cell;
    text-align: right;
    width: 25%;
    min-width: 10em;
}

.stats .stats-highlights .stats-highlighted .stats-data strong {
    font-size: 4em;
    line-height: 1em;
}

.stats .stats-highlights .stats-highlighted .stats-data em {
    font-size: 0.9em;
}

.stats .stats-highlights .stats-highlighted .stats-label {
    display: table-cell;
    vertical-align: top;
    padding: 0 5px;
    font-size: 1.3em;
    text-align: left;
    min-width: 10em;
    font-weight: bold;
    text-transform: uppercase;
}

.stats .stats-highlights .stats-highlighted .stats-trend {
    display: table-cell;
    vertical-align: top;
    padding: 0 15px;
    margin-left: 10px;
    width: 10%;
    min-width: 3em;
    text-align: left;
}

 .stats .stats-highlights .stats-highlighted .stats-trend i {
     font-size: 4em;
     line-height: 1em;
 }

.stats .stats-highlights .stats-highlighted .stats-trend .stats-trend-value {
    font-weight: bold;
    font-size: 1.1em;
}

.stats table.stats-table {
    width: 100%;
    border-collapse: collapse;
    clear: both;
}

.stats table.stats-table td, .stats table.stats-table th {
    padding: 15px;
    border: 1px solid #e5e5e5;
    text-align: center;
    background-color: #f5f5f5;
}

.stats table.stats-table th {
    text-transform: uppercase;
}

.stats table.stats-table td {

}

.stats table.stats-table td span {
    font-size: 2.5em;
    line-height: 1em;
}

.stats table.stats-table td em {
    font-size: 0.9em;
}

.stats .stats-graph {
    float: right;
    width: 70%;
    margin: 0 -15px 20px 20px;
    text-align: right;
}

.stats #stats-graph {

}

.url-management label {
    margin-bottom: 10px;
}

.url-management label span {
    background-color: #f9f9f9;
    border: 1px solid #c3c3c3;
    padding: 2px 5px;
}
