/* Allows large popins */
.large { width: 1000px }

/* Fixes help buttons question mark displaying too low */
.help-button {
    line-height: 19px;
}

.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 28px !important; width: 481px; display:block;margin:10px auto;}
.ui-sortable-placeholder * { visibility: hidden; }

.portfolio-popin td.portfolio-action {
    width: 45px;
}

.portfolio-media-edit > div {
    max-height: 25px;
}

.nestable-list {
    padding-top: 8px;
}

img.crud-column-media {
    max-width: 300px;
}

.template-row input[type="radio"] {
    display: none;
}

.template-row input[type="radio"]:checked + img {
    border: 1px solid #438EB9;
}

.block-row a {
    text-decoration: none;
}

.block-row input[type="radio"] {
    display: none;
}

.block-row input[type="radio"]:checked + img {
    border: 1px solid #438EB9;
}

.block-row input[type="radio"]+ img {
    margin-right: 10px;
}

.sidebar-row input[type="radio"] {
    display: none;
}

.sidebar-row input[type="radio"]:checked + img {
    border: 1px solid #438EB9;
}

.sidebar-row input[type="radio"]+ img {
    margin-right: 10px;
}

.widget-blocks {
    list-style: none;
}

.widget-sidebars {
    list-style: none;
}

.admin-create-block {
    font-size: 12px;
    margin-left: 20px;
}

.admin-edit-block {
    font-size: 15px;
    margin-right: 5px;
}

.admin-delete-block {
    font-size: 17px;
}

.panel-heading a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.form-errors {
    color: #FF0000;
}

.wrapper {
    height: 250px;
    overflow: hidden;
}
.carousel div {
    cursor: pointer;
    margin-right: -450px;
    float: left;
    position: relative;
    box-shadow: 0 0 10px #000;
}
.carousel div:last-child {
    cursor: default;
}
.carousel div span {
    background-color: #222;
    background-color: rgba(0,0,0, 0.8);
    color: #fff;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    width: 700px;
    height: 25px;
    padding: 20px 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
}

div.table-header div.action-buttons {
    margin-right: 10px;
}
