<div class="form-group">
    <label class="control-label col-sm-3">{{ 'Items' }}</label>
    <div class="col-sm-5 nestable-list">
        <div class="dd nestable" data-output="{{ output }}">
            {% include 'BigfootAceThemeBundle:navigation:list.html.twig' with { 'items': items } %}
        </div>
    </div>
</div>

{% include 'BigfootAceThemeBundle:layout:modal.html.twig' with { 'name': 'edit-item', 'title': 'Edit item' } %}