<div class="col-xs-12 col-sm-{{ widget.width }} widget-container-span ui-sortable">
    <div class="widget-box">
        <div class="widget-header">
            <h5 class="smaller">{{ widget.title }}</h5>
            {% if tabs is defined %}
            <div class="widget-toolbar no-border">
                <ul id="myTab" class="nav nav-tabs">
                    {% for tab in tabs %}
                    <li{% if tab.active %} class="active"{% endif %}>
                        <a href="#home" data-toggle="tab">Home</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="widget-body">
            <div class="widget-main padding-6">
                {% if tabs is defined %}
                <div class="tab-content">
                    {% for tab in tabs %}
                    <div class="tab-pane{% if tab.active %} in active#{% endif %}" id="home">
                        <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                    {{ widget.renderContent }}
                {% endif %}
            </div>
        </div>
    </div>
</div>